body {
    background-color: #D47776;

}


.Container{
    display: flex;
    flex-direction: column;
    color: #8B7A7A;
    background-color: #ECECEC;
    width: 300px;
    box-sizing: border-box;
    padding: 0 20px 20px;

}

:root{
    --Image: 70px;
}
#userLogo{
    height: var(--Image);
    width: var(--Image);
    align-self: center;
    border-radius: 50%;
    margin-top: calc(var(--Image)/2*-1);
}

.text{
    align-self: center;
}

.Container a{
    color: #8B7A7A;
}

.Container > h2{
    color: #8B7A7A;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.allForm{
    position: fixed;
    left: 600px;
    top: 300px;
    text-align: center;
    color: white;
}

input[type="submit"]{
    width: 100%;
    padding: 20px auto;
    font-size: 12px;
    font-weight: bold;
    background-color: #70C5C0;
    color: white;
}

input{
    height: 30px;
    margin: 10px 0;

}

label{
    font-size: 16px;
    display: block;

}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.box > *{
    vertical-align: center;
}
















